%table.table.table-bordered.table-hover
  %thead
    %tr
      %th Replies count
      %th Title
      %th Last replied at
      %th Viewed count
  %tbody
    - objects.each do |object|
      %tr
        %td replies
        %td= link_to "#{object.title}", post_path(object)
        %td last replied at
        %td
          %i.fas.fa-eye.fa-sm
          = object.views_count
.text-center
  = paginate objects