= provide :my_title, "Fans Forum"

.banner
  %h1 Fans Forum

.row
  .col-md-12
    %ul.nav.nav-tabs
      %li.active{role: "presentation"}
        = link_to 'All', root_path
      - @categories.each do |category|
        %li{role: "presentation"}
          = link_to category.name, category_path(category)
    = render 'shared/posts', objects: @posts