= provide :my_title, "Fans Forum"

.banner
  %h1 Blizzard Fans Forum

.row
  .col-md-12    
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th Replies count
          %th Title
          %th Last replied at
          %th Viewed count
      %tbody
        - @posts.each do |post|
          %tr
            %td replies
            %td= link_to "#{post.title}", post_path(post)
            %td last replied at
            %td viewed count
    .text-center
      = paginate @posts