@import 'normalize';
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Lato', Tahoma, Geneva, Verdana, sans-serif;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.banner {
  background-color: #4F96FF;
  padding: 1px 0;
  text-align: center;
  h1 {
    font-size: 7rem;
    font-weight: 700;
  }
}
textarea.form-control.text.required {
  height: 35rem;
}

.comment {
  .comment-author {
    width: 20%;
    height: 20%;
    padding: 4rem 0 0 2rem;
    border-right: 4px solid #d6dce0;
    margin-bottom: -8%;
    p {
      text-transform: capitalize;
      font-size: 2rem;
    }
  }
  .comment-content {
    top: -7rem;
    position: relative;
    height: 20%;;
    p {
      font-size: 2em;
      text-align: center;
    }
  }
  .comment-button {
    position: relative;
    margin-left: 94%;
  }
}

.comment-form {
  textarea {
    height: 10rem;
  }
}

.form-group {
  img {
    float: left;
  }
  .file.optional.post_image {
    position: fixed;
    left: 30rem;
    top: 50rem;
  }
  .btn.btn-primary {
    clear: both;
    float: left;
    margin-top: 3rem;
  }
}

.nav-pills-center {
  text-align: center;
  li {
    float: none;
    display: inline-block;
  }
}

.post-main {
  .post-author {
    width: 20%;
    position: relative;
    left: 0;
    height: 50%;
    padding: 4rem 0 0 2rem;
    border-right: 4px solid #d6dce0;
    top: 18%;
    p {
      text-transform: capitalize;
      font-size: 4rem;
    }
  }
  .post-content {
    padding-left: 3em;
    p {
      font-size: 3em;
      line-height: 1.75;
      width: 40rem;
    }
  }
  .post-button {
    position: relative;
    top: 20rem;
  }
}

.post-title {
  span {
    float: right;
  }
  ul {
    display: inline;
  }
}

.switch {
  padding-bottom: 3rem;
  font-size: 3rem;
  .active {
    text-decoration: underline #D5FFCC;
    color: #FF3817;
  }
  .nonactive {
    text-decoration: none;
    color: #E8DDBA;
  }
  .first {
    margin-right: 3rem;
  }
}

.replies_count {
  text-align: center;
  border: 1px solid #D1CCD4;
  background: greenyellow;
  max-width: 20%;
  margin: auto;
}

.text {
  padding-bottom: 1rem;
  input[type="text"]{
    border: 1px solid rgba(0, 0, 0, .8);
    border-radius: 6px;
    padding: .5rem
  }
  ::placeholder {
    color: rgba(0, 0, 0, .3);
  }
  span {
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #FF4C4C;
    font-weight: 700;
    word-spacing: .7rem;
    text-decoration: underline double;
  }
}