%h1 User List
.row
  .col-md-12
    %table.table.table-bordered.table-hover
      %thead
        %tr
          %th
            Name
          %th
            E-mail
          %th
            Role
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td= user.role
    .text-center
      = paginate @users